[2018-04-01 03:03] CAM-Gerlach opened #11 "Implement a modern Sphinx html theme that matches our website"
## Issue Description

Right now, our current theme is very dated and quite horribly at odds with that of our website, so it needs to be updated. Therefore, we wanted to solicit everyone's feedback as part of that process. So...

@spyder-ide/core-developers @spyder-ide/junior-developers

While I have a specific proposal as a starting point, its ultimately up to the consensus on what we go with, bui

[2018-04-01 03:21] CAM-Gerlach opened #13 "Baseline copyediting and correctness pass to update existing doc content"
## Issue Description

Currently, quite a few details and references in our documentation are out of date (e.g. to Mercurial support, Python(x, y), the non-IPython console, etc), and a number of grammar, style, and syntax problems exist. In this issue, I propose a baseline sweep through the existing stuff to clean up such easy to resolve items to ensure a baseline of textual quality for our initial

[2018-04-01 03:30] CAM-Gerlach opened #14 "Update screenshots to those from modern Spyder, and add additional shots of different Main Window layouts, etc"
## Issue Description

Many of the screenshots we currently have are from very old versions of Spyder, running on vintage OS versions and have a lot of chrome around the actual content. This is both potentially inaccurate and confusing to our current users, and does not present a good impression to potential new ones. Therefore, this should be speedily corrected before the initial public release.

[2018-04-01 03:36] CAM-Gerlach opened #15 "No descriptions/explanations for some bullets in the Overview"
## Issue Description

Many bullets in the Overview, as well as some sections/headers elsewhere, have no description at all. Therefore, we want to have at least a basic explanation of each before we release the docs publicly, as this is fairly low hanging fruit and will have a pretty high impact to effort ratio.

### Where is the relevant portion of the documentation located?

Primarily the Overvie

[2018-04-01 03:42] CAM-Gerlach opened #16 "Many sections need to be rewritten to be more explanatory ("how") than expository ("what")"
## Issue Description

In a number of sections of the documentation, various features (e.g. splitting the editor, to name one example) are outlined and their purpose detailed, but there is little to no information about how to actually activate and use them from a technical perspective. Therefore, the documentation as a whole should be re-written where practicable to focus more on explaining the "h

[2018-04-16 01:30] ccordoba12 opened #19 "Add the same banner used in the website and use the same fonts in its content"
We need this to have a consistent look and feel between the other pages in the site and our docs.

@dalthviz, please work on this one. For the fonts, please use *Amiri* for headers and *Raleway* for content.

[2018-04-16 01:34] ccordoba12 commented on #19
Also, the banner should look like this:

    Spyder | Docs                  Home Blog Docs

[2018-04-16 01:36] ccordoba12 commented on #19
And, links must be red too.

[2018-04-17 02:46] CAM-Gerlach commented on #11
@ccordoba12 Why didn't #12 automatically close this like it said it would?

[2018-04-17 02:47] ccordoba12 commented on #11
Probably because `Fixes` was not in the first comment.

[2018-04-17 02:47] #11 closed

[2018-04-17 02:49] CAM-Gerlach commented on #11
@ccordoba12  Huh; I had this from the beginning...

![image](https://user-images.githubusercontent.com/17051931/38846072-04f5bcf8-41c0-11e8-8046-f187ccb73d96.png)

[2018-05-02 16:06] CAM-Gerlach opened #23 "Command-line option names are blacked out after changes in #21"
## Issue Description

@dalthviz

After #21 was merged, I noticed the option name text of the command line options was blacked out (black on black).

![image](https://user-images.githubusercontent.com/17051931/39534849-267b020e-4df8-11e8-89b0-0f69f7cb5def.png)

### Where is the relevant portion of the documentation located?

[Command line options](http://docs.spyder-ide.org/options.html)

### What

[2018-05-06 17:00] CAM-Gerlach commented on #19
I finally figured out why PRs weren't closing the issues they should after merging #21 to master, so we shouldn't have to close these manually anymore. Sorry about that.

[2018-05-06 17:00] #19 closed

[2018-05-06 17:10] CAM-Gerlach opened #25 "Fix remaining layout issues with spacing and navigation header height"
## Issue Description

A few layout issues remain after #21 , including the navigation header not being the correct height, and lists and newline chars in ``rst`` not having the right vertical spacing in the output HTML. Thanks to @dalthviz for his help diagnosing and suggesting a solution to the latter.

### Where is the relevant portion of the documentation located?

In the css layout template.

[2018-05-06 17:24] CAM-Gerlach opened #26 "Decide on and implement a common heading and body font size between the docs and the blog"
## Issue Description

To summarize, the initial idea behind of #19 was to harmonize the banner and the fonts used between the docs and the website (really, with the blog rather than the mainpage with respect to the latter as it stands currently, due to the sans font for the headings). Following some requested changes, the font sizes for the doc headings and body diverged from that used on the blog

[2018-05-06 23:04] ccordoba12 opened #28 "Remove our pythonhosted.org and RTD docs"
Once our new docs are ready for the world, we need to remove the old copy in pythonhosted.org

* [x] Read the Docs docs
* [ ] PythonHosted.org docs

[2018-05-06 23:16] CAM-Gerlach commented on #28
Thanks. One thing to keep in mind is that the PyHosted version will still be the one linked to from the first and most prominent item in the Spyder help menu in any Spyder version before 3.3, and (IIRC the default mapping) are even opened by default with the <kbd>F1</kbd> keyboard shortcut. Therefore, it would seem prudent to wait at least until the release of 3.3 and its incorporation into the cu

[2018-05-07 02:02] ccordoba12 commented on #28
Very good points, thanks! Then, we need to leave those docs live and redirect the `F1` shortcut to our new docs since Spyder 3.3.

Could you open an issue about this in the Spyder repo, so we don't forget to do it? Thanks!

[2018-05-07 02:10] CAM-Gerlach commented on #28
Way ahead of you, boss :) I've had PR #7007 open to update all the PyHosted links and close #5986 for a while now, ready to merge as soon as we close the I.P.R. milestone (basically, #14 , #13 and #26 ).

[2018-05-07 06:02] CAM-Gerlach opened #30 "Remove the old manpage and the relevant section from conf.py"
## Issue Description

Remove the manpage and the relevant section in conf.py, added to meet Debian standards, that essentially duplicates information from ``spyder --help``, only is on master, and could lead to potential merge conflicts in the future, and is just unneeded cruft.

### Where is the relevant portion of the documentation located?

``manpage.rst`` and manpage section of ``conf.py``

##

[2018-05-07 06:08] CAM-Gerlach opened #32 "Remove the obsolete Python Console doc, add any relevant parts and links to the IPython console docs"
## Issue Description

The current docs have an entire doc page about the old Python console that is no longer included with Spyder. Therefore, I will remove this, update any links pointing to it and direct them to IPython Console docs instead, and move any remaining relevant content over there. This is already complete as part of #22 , but as that got closed it will be in the replacement PR, as it

[2018-05-07 23:31] #30 closed

[2018-05-11 04:51] CAM-Gerlach commented on #32
Closed by PR #33

[2018-05-11 04:51] #32 closed

[2018-05-13 19:14] CAM-Gerlach commented on #26
@ccordoba12 ? @dalthviz ?

[2018-05-13 19:21] CAM-Gerlach opened #35 "Add a link checker to the CI tests"
## Issue Description

Currently, several links for our current docs are broken, and nearly half are perma-redirected. It should be fairly simple to add a link checker, namely sphinx's built in ``make linkcheck``, to catch these issues as they happen. I plan to do it as soon as we can close #13 . It should be quick to do once that happens, but can easily be bumped from the critical path for the IPR

[2018-05-13 22:32] CAM-Gerlach opened #37 "Add a full guide detailing the common structure, technical standards, style conventions, and writing guidelines"
## Issue Description

Currently, we have only a very minimal set of standards, conventions and guidelines in our contributing guide; this proposes adding, likely as a separate document with a few elements from contributing merged in, a comprehensive outline of the common document and file structure, the technical standards to be adhered to, and the style conventions to follow for rst and prose, an

[2018-05-20 17:46] ccordoba12 opened #38 "Explain how to connect to external kernels through ssh"
See spyder-ide/spyder#7147 for the details.

[2018-05-21 06:34] CAM-Gerlach opened #39 "Inform/submit PRs to external parties to update Spyder website and doc links"
## Issue Description

Implicitly blocked by the other I.P.R. issues; this should be done last, of course.

Some of these are even still using the old Google Code "spyderlib" link

Parties to contact:

* [x] [WinPython](https://winpython.github.io/)
    * [x] Update link on website and related changes: PR MERGED
    * [x] Update links in packages config file: DONE
    * [x] Included Programs on wik

[2018-05-21 17:37] ccordoba12 opened #40 "Document cell grouping"
See spyder-ide/spyder#7107

[2018-05-21 17:45] CAM-Gerlach opened #41 "Add baseline Profiler documentation"
## Issue Description

Currently, all the main Spyder panes have at least a short page of documentation dedicated to them (with the outline covered in the Editor's doc, and the breakpoints pane discussed in Debugging)—except for the profiler, a much more significant feature than many of these. Therefore, we should include at least a stub length doc similar to the others (e.g. static analysis) for c

[2018-05-21 21:45] ccordoba12 opened #43 "Remove references to PyQt4 because it's going to be deprecated in Spyder 3.3"
See spyder-ide/spyder#6961.

[2018-05-22 18:46] CAM-Gerlach commented on #26
@ccordoba12 Any updates, now that #44 is up and the I.P.R. is within reach? It'd be nice to have this finalized by the official release, if possible...

[2018-05-28 02:08] sirredbeard opened #46 "Broken link to unstable Debian package in installation instructions"
## Issue Description

Link to unstable Debian package in install instructions is broken.

Link at end of "The Spyder’s official Debian package is available here" on https://pythonhosted.org/spyder/installation.html.

Is http://packages.debian.org/fr/sid/spyder. Should be https://packages.debian.org/unstable/spyder.

Link is broken. Also sid will not always be unstable.

[2018-05-28 02:37] CAM-Gerlach commented on #46
Thanks @sirredbeard ! This is already fixed in #44 , which will hopefully be green to merge shortly, I did incorporate your suggestion regarding ``sid`` vs. ``unstable`` ; thanks for the catch! I also switched the package name to ``spyder3`` as I was unaware the default ``spyder`` package was Python 2. Again, really appreciate it, and keep those bugfixes coming (though I'd advise you to wait until

[2018-05-28 05:55] CAM-Gerlach commented on #26
@ccordoba12 @dalthviz At this point, I just went ahead with a PR to harmonize the main body and sidebar font size to 16px, as well as a few other minor tweaks along those lines. It should be applied here regardless to make at least things here a little more optimal and internally consistent, although it would be nice to have the blog font harmonized (and a little smaller) before my posts start goi

[2018-05-29 19:49] #46 closed

[2018-05-29 19:49] #13 closed

[2018-05-29 19:49] #15 closed

[2018-05-29 19:49] #16 closed

[2018-05-29 19:49] #43 closed

[2018-05-30 00:04] #35 closed

[2018-06-12 22:00] #38 closed

[2018-06-18 16:53] ccordoba12 opened #53 "Update instructions to connect to an external kernel"
After https://github.com/spyder-ide/spyder/pull/7306, instead of running `ipykernel start` you need to run `python -m spyder_kernels.console`.

[2018-06-18 16:54] ccordoba12 commented on #53
And of course, you need to install `spyder-kernels` first, with `conda/pip install spyder-kernels`.

[2018-06-20 19:21] ccordoba12 opened #54 "Write documentation on how to install packages that can be imported in Spyder"
This is a common problem for users, e.g.

https://stackoverflow.com/questions/50913242/issue-importing-keras-in-spyder-and-jupyter

This will be solved in Spyder 4, but in the meantime we can help users with this.

[2018-06-20 22:42] CAM-Gerlach commented on #53
Will do; I'm home visiting my family and ill grandmother, and the PR hasn't even been merged yet, so that won't happen at least until then.

[2018-06-20 22:47] CAM-Gerlach commented on #54
Is the user's problem that they are installing them into the wrong environment, or if not, what's the solution I'm supposed to be writing about? Sorry, I'm not 100% familiar.

???.

[2018-06-21 02:21] ccordoba12 commented on #53
No rush. Enjoy this time with your family.

[2018-06-21 02:29] ccordoba12 commented on #54
Yes, this is the main problem: they install packages in different conda/pip envs and expect Spyder to find them without further configuration.

I'd like a page or link to point to our users with the possible solutions:

1. Install `spyder-kernels` on their env, Identify its Python interpreter and change `Preferences > Python interpreter` to point to it.
2. Install Spyder on their env and run it fr

[2018-06-22 16:08] ccordoba12 commented on #54
More posts about this (I'm listing them here so we can give an answer once we have a link in our docs):

https://stackoverflow.com/questions/50967252/python-spyder-cant-import-installed-pyuserinput-packages

https://stackoverflow.com/questions/50976221/caffe-module-not-found-error-in-spyder

[2018-06-22 22:01] CAM-Gerlach commented on #54
There was also at least one person in our Gitter chat very recently with a very similar issue. I could prep something to be ready to merge after spyder-ide/spyder#7306 is, but I'd rather wait until that is final so I can walk through the steps myself to make sure what I write works and is accurate.

[2018-06-24 23:20] ccordoba12 commented on #54
https://stackoverflow.com/questions/51006705/tensorflow-only-works-in-terminal-but-not-in-python-ides

[2018-06-28 21:16] CAM-Gerlach opened #55 "Update installation instructions to account for new spyder-kernels dependency"
## Issue Description

Per spyder-ide/spyder#7337 (and ultimately due to  spyder-ide/spyder#7306 ), installation instructions will need to be updated to clarify the need for an additional dependency, ``spyder-kernels``, which will in turn need to be for the correct version of spyder (3.x or 4/master).

### Where is the relevant portion of the documentation located?

Installation instructions docs,

[2018-06-28 21:17] ccordoba12 commented on #55
This is really important because without the right version of spyder-kernels, or simply without it, Spyder won't launch.

[2018-06-28 21:20] CAM-Gerlach commented on #55
@ccordoba12 I can try to do it later tonight, since it should be quick presumably. I was just at the eye doctor so I can't read very well right now but it should be back to normal by the time I get home from dinner with my dad in a few minutes.

[2018-06-29 20:01] ccordoba12 commented on #54
https://stackoverflow.com/questions/51107665/feedparser-module-is-not-importing-from-spyder-ide

[2018-07-02 20:06] dalthviz opened #56 "Update footer following the changes made in the main website"
## Issue Description

Change the footer to be the same as in teh main website

[2018-07-03 21:40] ccordoba12 commented on #26
Closing this one because we decided against using the same style in both places.

[2018-07-03 21:40] #26 closed

[2018-07-03 22:39] CAM-Gerlach opened #63 "Make content width adaptive to window size instead of cutting off text"
## Issue Description

Currently, our docs content (and sidebar) is a fixed width, which results in hard cutting off of the text in many scenarios, and even worse, scrolling past the edge doesn't render the missing text. This forces us to either exclude large classes of user setups/use cases from being able to view the docs properly, or use an unreasonably narrow content width.

![image](https://us

[2018-07-04 22:47] ccordoba12 commented on #63
@dalthviz, please work on this one. Take a look at how Github books work, as @CAM-Gerlach suggested.

Also, this probably requires you to add some additional Javascript to the output generated by Sphinx. I mean, I don't think this could be done with CSS alone (but I could be wrong).

[2018-07-05 00:27] ccordoba12 opened #65 "Remove link to Docs in top navbar"
Now you see

    Home Blog Docs

to the right of the navbar, but it should show instead

    Home Blog

because you can reach the root of our docs by clicking

    Spyder | Docs

@dalthviz, this is an easy one for you.

[2018-07-06 16:15] #65 closed

[2018-07-08 18:15] CAM-Gerlach commented on #56
Should have been automatically closed, but wasn't referenced in 0fe346f

[2018-07-08 18:15] #56 closed

[2018-07-09 03:51] CAM-Gerlach commented on #54
Really sorry for the delay. I created [this wiki page](https://github.com/spyder-ide/spyder/wiki/Working-with-packages-and-environments-in-Spyder) describing the process as I'm aware of it for the time being, and welcome your input and corrections. In short form, it would be a great candidate for the future website FAQ, with a link to the full wiki version. I don't want to fragment our documentati

[2018-07-09 14:19] ccordoba12 commented on #54
Thanks for your help with this one! I'll review it when I have some time.

----

Let's leave it in our wiki for now since the process is going to change (and it'll be greatly simplified) in Spyder 4.

[2018-07-09 14:21] ccordoba12 commented on #54
Besides, at that point we could add this explanation to our Projects page here, which would fit well with the rest of our docs.

[2018-07-09 15:40] CAM-Gerlach commented on #54
Okay, great! Thanks.

[2018-07-16 20:34] ccordoba12 commented on #54
https://stackoverflow.com/questions/51351785/importing-pandas-datareader-in-spyder-python-3-6

[2018-07-17 03:14] CAM-Gerlach commented on #63
This is currently more serious than initially though, since right now thanks to the increases in the sidebar and total content width, the docs are cut off and essentially unreadable if the window width is less than 1100 px (on a portrait-format display common in software development, when split to one half of a 1080p monitor, on older monitors, on mobile devices, etc,) with **no** scrollbar and th

[2018-07-17 03:35] CAM-Gerlach commented on #54
FYI, I just updated the wiki page with a detailed note about making sure you have the  correct version of ``spyder-kernels`` for your Spyder version.

[2018-07-17 16:13] ccordoba12 commented on #54
Great, thanks!

[2018-07-17 16:43] ccordoba12 commented on #54
Please leave it open until I review the wiki page. Then I'll close it.

[2018-07-17 17:13] CAM-Gerlach commented on #54
Oh, my bad. I somehow forgot you hadn't done that yet!

[2018-07-19 16:22] ccordoba12 commented on #54
https://stackoverflow.com/questions/51392108/error-on-import-glpk-in-spyder-after-downloading-in-anaconda-prompt

[2018-07-24 00:09] CAM-Gerlach commented on #28
Perhaps we can pencil in a nominal removal date of December 31, 2018, assuming the last I.P.R work item is complete (making the layout width-adaptive so the site isn't broken on many screen setups) reasonably soon so we can proceed with #39 .

[2018-07-24 00:58] ccordoba12 commented on #28
I was thinking on doing it sooner (perhaps a month or two?). I know this would break old releases, but while our pythonhosted docs are up, they'll be picked up and shown first by Google.

Yes, I'll tell @dalthviz to work on that one after we release 3.3.1.

[2018-07-24 01:50] ccordoba12 commented on #28
Right, good idea. Unfortunately, waiting for Linux distros to update to this version could delay us for 6 months to a year (even more). So we have to proceed when Anaconda and WinPython are ready (Linux distros are a lost case, really).

Ok, perhaps after #39.

[2018-07-24 02:01] CAM-Gerlach commented on #28
Yeah, I figured Debian we could ignore since they are still on 3.2.6 on unstable; the other ones are all on 3.2.8 (with a few already on 3.3.0), and I meant on their most bleeding edge/unstable repo (i.e. the ones linked in our install guide).

[2018-07-24 02:02] CAM-Gerlach commented on #28
Yeah, we'll see after that. Of course, even if so we'll still want to remove them within a reasonable timeframe. #39 is definitely a blocker on doing so, in addition to the 3.3.1 availability criterion.

[2018-07-30 00:35] CAM-Gerlach commented on #39
I'm going to get this started now, since I'm not sure how long it will be until #63 gets done and other than being broken on narrow screens/windows its a huge improvement over our current docs, and as @ccordoba12 said we need to get our PageRank up.

[2018-08-02 19:57] CAM-Gerlach commented on #54
@ccordoba12 Thanks for your additions; I had no way to know they were there until now. I cleaned up some of the prose and clarified a number of things that were unclear, but overall the quality was very good, and a big further improvement from your previous work and few of the changes were grammar/syntax/style issues and most just clarifying the content itself.

Also, FYI, I had no idea you made t

[2018-08-02 23:37] ccordoba12 commented on #54
Sorry for not letting you know about it. I was hoping to do a second round of edits to my initial contribution, but life always get in the way.

[2018-08-03 00:16] #55 closed

[2018-08-03 01:03] CAM-Gerlach commented on #54
@ccordoba12 Ah, no worries. I know that happens to me too, for sure :) And most wikis notify the creator of a page if it is modified, which Github wiki doesn't.

[2018-08-03 13:24] ccordoba12 commented on #54
There's one important thing I want to do right now: I want to move the first section (*Installing packages into the same environment as Spyder*) to the end (as it was before).

What I want is for people to find right at the beginning an explanation to the problem they most commonly face (*The most common problem: Using newly-installed packages inside Spyder*) and then a solution for it (*Working w

[2018-08-03 17:27] CAM-Gerlach commented on #54
@ccordoba12 Okay, from that perspective if its mostly just going to be used as an answer to a specific set of SO questions rather than more generally on its own, then I guess it makes sense to have it after the section specifically explaining that problem. I'd suggest (and implemented for now) putting it right after the "most common problem" section, which ends with the paragraph explaining the tw

[2018-08-04 01:12] ccordoba12 commented on #54
Ok, that makes sense. But although it's the easiest one right now, I'd want to start deprecating it since Spyder 3 so we can move to the better approach we're planning for Spyder 4.

That's why I'd like to put it at the end. What do you think?

[2018-08-04 01:41] CAM-Gerlach commented on #54
Isn't it installing a separate copy of Spyder into every environment when working with *multiple* that you want to deprecate (i.e. ["The easy approach"](https://github.com/spyder-ide/spyder/wiki/Working-with-packages-and-environments-in-Spyder#the-easy-approach), rather than the single-environment case? For many simpler/specific use-cases as well as for new users, particularly if working with just

[2018-08-04 01:47] CAM-Gerlach commented on #54
Implemented as proposed above; let me know what you think

[2018-08-04 02:33] ccordoba12 commented on #54
https://stackoverflow.com/questions/51679235/modulenotfounderror-no-module-named-selenium-error-despite-having-downloaded

[2018-09-03 19:39] CAM-Gerlach commented on #54
@ccordoba12 Any luck reviewing this?

[2018-09-03 19:48] CAM-Gerlach opened #73 "Update installation instructions in master to reflect PyLS as a dependency"
## Issue Description

Related to spyder-ide/spyder#7822 , in turn part of spyder-ide/spyder#7724 , we need to ensure our installation instructions in master (Spyder 4) reflect the addition of ``python-language-server`` as a dependency and removal of jedi/rope/pycodestyle/pyflakes, and are otherwise up to date for Beta 2.

### Where is the relevant portion of the documentation located?

Installatio

[2018-09-05 07:24] CAM-Gerlach opened #75 "Update source/dev build installation instructions to reflect beta release and new procedure"
## Issue Description

As suggested in spyder-ide/spyder#7822 , there are some further updates to be made to our install instructions to account for the beta releases and dependency and thus install procedure changes.

### Where is the relevant portion of the documentation located?

The install guide, particularly the installing a dev build section.

[2018-09-05 08:06] #73 closed

[2018-09-09 04:54] ccordoba12 opened #78 "Clarify remote kernel connection process (how to find connection file and enter credentials)"
@jsh9 commented on [Sat Sep 08 2018](https://github.com/spyder-ide/spyder/issues/7861)

## Problem Description
I am following the steps in the documentation (https://docs.spyder-ide.org/ipythonconsole.html#connect-to-an-external-kernel) to try to open up an ipython kernel on my remote computer and then access it from my local computer.

I used `ipython kernel` on my remote computer, and saw the fo

[2018-09-09 04:57] ccordoba12 commented on #78
@jsh9, this is a shortcoming in our docs. Thanks for pointing it out.

@CAM-Gerlach, we need to address this. You can get `runtime-dir` with this code:

[code]

[2018-09-09 05:06] CAM-Gerlach commented on #78
@ccordoba12 Thanks! I can also address the related remote kernel connection confusion that was just brought up in our public Gitter chat:

[2018-09-09 08:28] jsh9 commented on #78
Thank you @ccordoba12 !  I found the file on the path, downloaded it to my local machine, and now I can connect to the remote kernel.

It might also be worth noting (either in Spyder's UI, or in the documentation) that the "ssh key" field is optional.  I spent quite some time googling what ssh key file I should provide to no avail.  Other users may run into the same confusion.

[2018-09-09 15:00] CAM-Gerlach commented on #78
@jsh9 Thanks; glad you got it working.

In fact, in my comment immediately before yours, I described exactly that. Ideally it should be clearly indicated in the UI (such as by including the text "Or" between the two fields and grouping them in some way, or at least including explanatory text in the dialog itself; @ccordoba12 I can open an issue if you want), but it would be  good to have in the do

[2018-09-09 17:33] jsh9 commented on #78
Thanks @CAM-Gerlach !

[2018-09-10 16:00] CAM-Gerlach commented on #78
Also, add a comment explaining that the relevant port number is the one used for SSH (by default, port 22, but in practice whatever ``sshd`` is running on), based on more user feedback.

[2018-09-12 15:54] CAM-Gerlach opened #80 "Update kernel connection dialog after change in 3.3.2"
## Issue Description

Resolving spyder-ide/spyder#7868 will make some minor changes to the Connect to Kernel dialog. Accordingly, the screenshot in the docs should be updated accordingly.

### Where is the relevant portion of the documentation located?

ipythonconsole.py in the Connecting to a console section.

[2018-09-12 16:11] CAM-Gerlach commented on #54
@ccordoba12 Any chance of getting a review so we can close out the ``v3.3`` milestone, and make sure it is correct for the many users we are already sharing it with?

[2018-09-12 16:35] ccordoba12 commented on #54
I just did another review. Changes are minimal, but please review again.

[2018-09-12 22:29] CAM-Gerlach commented on #54
Thanks, and sorry for the delay—I had the diff open but must have accidentally closed it. All your changes were fine, except a few places where I made long-winded section references into embedded intra-document links. I also re-wrote the "If the resulting paths are different section to give a one line summary of all three choices and one line on the advantages/disadvantages and use case for each;

[2018-09-12 22:41] ccordoba12 commented on #54
Nice!! Thanks a lot for your final changes.

I think this one can be finally closed.

[2018-09-12 22:41] #54 closed

[2018-09-16 17:16] ccordoba12 opened #81 "Describe how to install Spyder 4 betas"
This was mentioned in Gitter:

I agree completely that it's nearly impossible (if you're not subscribed to our mailing list) to discover how to install our betas.

@CAM-Gerlach, I don't know if this should go here or a blog post about beta1. What do you say?

[2018-09-16 17:32] ccordoba12 commented on #81
Ok, thanks! Closing this one then.

[2018-09-16 17:32] #81 closed

[2018-09-17 04:06] #78 closed

[2018-09-20 04:33] bcolsen opened #82 "Jupyter Core Paths error"
## Issue Description
In ipythonconsole.rst

[code]
On my install (anaconda latest) gives
[code]
Should be
[code]
or even from terminal
[code]

### Where is the relevant portion of the documentation located?

/doc/ipythonconsole.rst line 51

### What would you suggest it be replaced with?

[code]
or from terminal
[code]

### Other information

* Is the problem specific to documentation for a partic

[2018-09-20 14:37] ccordoba12 commented on #82
This one is better. @CAM-Gerlach, what do you think about changing our docs to this instead?

[2018-09-20 17:55] CAM-Gerlach commented on #82
Sorry I missed this somehow. Thanks for the catch, @bcolsen

Very much agreed; way less complex and involved, and not only that but it obviates some of the extra verbiage and complexity added in #79 that I wasn't a huge fan of, jeje.

Already done, opening a PR momentarily.

[2018-09-20 19:34] #82 closed

[2018-09-21 21:52] #75 closed

[2018-10-10 15:52] ccordoba12 opened #87 "More dependencies for Spyder 4"
in spyder-ide/spyder#8004, I'm declaring two new dependencies: `pexpect` and `paramiko`. Both are needed to have remote kernel connections through SSH.

@CAM-Gerlach, please update our docs to reflect that.

[2018-10-12 21:11] ccordoba12 opened #88 "Basic documentation for Spyder plugins"
@goanpeca commented on [Wed Jan 20 2016](https://github.com/spyder-ide/spyder/issues/2944)

---

@Nodd commented on [Tue Jun 21 2016](https://github.com/spyder-ide/spyder/issues/2944#issuecomment-227441014)

Added some docs:
https://github.com/spyder-ide/spyder/wiki/User-plugins
https://github.com/spyder-ide/spyder/wiki/Writing-Plugins
It's very basic and inspired from the old googlecode site: htt

[2018-10-13 01:34] CAM-Gerlach commented on #88
Thanks @ccordoba12 . I can add a new doc with the existing contents of User Plugins page (since these docs are aimed at all users, while our wiki more for developing Spyder itself), bring it up to standards and flesh it out at least to a baseline degree, and we can go from there. This will of course be in ``master``, since we are mainly focused on supporting plugins in Spyder 4 and they aren't ful

[2018-10-13 17:56] CAM-Gerlach commented on #87
@ccordoba12 I assume ``qdarkstyle`` should be added as well?

[2018-10-13 18:02] ccordoba12 commented on #87
Yes, that's correct. You can leave this open until we define all our deps for beta2 (although I'm not expecting more, but you never know :-)

[2018-10-13 18:13] CAM-Gerlach commented on #87
Okay, thanks. Will do.

[2018-10-14 17:08] ccordoba12 commented on #88
Sure, that's fine.

[2018-10-19 15:55] CAM-Gerlach commented on #28
Thanks @ccordoba12 !

[2018-10-19 15:55] #28 closed

[2018-10-19 19:59] CAM-Gerlach opened #89 "Describe how to launch Spyder after installing via various methods"
## Issue Description

As noticed by multiple users on our Gitter, our documentation currently doesn't include any mention of how to actually launch Spyder after install via various means (``pip``, ``conda``, etc). Therefore, we should mention such in our install docs.

### Where is the relevant portion of the documentation located?

Installation doc

[2018-10-19 21:56] ccordoba12 commented on #89
We have to mention that on Linux and macOS people can't launch Spyder through traditional means (i.e. the main dekstop menu or Spotlight, respectively). They only can use Navigator or a terminal.

[2018-12-21 18:50] #80 closed

[2019-03-08 14:28] ccordoba12 opened #95 "Improve documentation to connect to remote kernel from Windows"
I found this article

https://medium.com/@mazzine.r/how-to-connect-your-spyder-ide-to-an-external-ipython-kernel-with-ssh-putty-tunnel-e1c679e44154

that explains an alternative method to connect to remote kernels on Windows when Paramiko doesn't work. Perhaps we should include a reference to it in our docs.

[2019-03-08 18:02] CAM-Gerlach commented on #95
Thanks @ccordoba12 . After I get this big proposal in today, I should have some time this weekend to address my big backlog of docs, etc. issues.

[2019-05-04 20:01] CAM-Gerlach opened #96 "Describe how Code Style and Docstring Style options work"
## Issue Description

Per the discussion in spyder-ide/spyder#9231 and specifically @ccordoba12 's request, we should describe how to use the Code and Doc Style settings in Spyder 4's preferences, particularly the interaction between the "Show" and "Ignore" fields. This would either need to be worked into an expanded Editor article, specifically a discussion on the various LSP-provided features th

[2019-05-11 22:05] ccordoba12 opened #97 "Mention how to run cells"
I couldn't find a mention about how to run cells in our docs, even though we mention how to create them. This is a serious issue we should solve as soon as possible.

[2019-05-11 22:26] CAM-Gerlach commented on #97
Well, to be fair we don't say how to run files or lines either, which are even more basic constructs and located in the same place as running code cells, so we have our work cut out for us here...

[2019-05-11 23:24] ccordoba12 commented on #97
Yeah, but this prevents to quote our docs to answer questions like this:

https://stackoverflow.com/questions/56086764/section-divider-in-spyder

[2019-05-11 23:26] CAM-Gerlach commented on #97
Yeah, this absolutely does need to be in there. My only point is that we are missing a lot in our docs (no thanks to me), and there's so much I need to do, which discourages me sometimes. But hey, its a [starfish](https://www.cityyear.org/about-us/culture-values/founding-stories/starfish-story)

[2019-05-28 17:09] #39 closed

[2019-05-28 17:10] #37 closed

[2019-05-28 17:12] CAM-Gerlach opened #98 "Update maintainer in AUTHORS.txt"
@ccordoba12 [AUTHORS.txt](https://github.com/spyder-ide/spyder-docs/blob/master/AUTHORS.txt) is now out of date.

[2019-06-27 05:02] steff456 opened #99 "Create tutorial for making a brand new spyder plugin"
## Issue Description
Create a new tutorial for contributors that want to create a new spyder plugin

[2019-10-28 15:36] ccordoba12 opened #101 "Explain how multidimensional Numpy arrays work in the Variable Explorer"
For the problem see here:

https://stackoverflow.com/q/58589733/438386

[2019-10-28 20:05] CAM-Gerlach commented on #98
@ccordoba12 6 months bump

[2019-12-20 07:42] qrqiuren opened #102 "Update Development Version Installation Instructions For Spyder 4 As Default"
## Issue Description

Because Spyder 4 is the default version in the repository, some instructions that distinct version 3 and 4 are no longer necessary.

### Where is the relevant portion of the documentation located?

In doc/installation.rst there is a long note about how to install development environment for spyder 4:

[code]

### What would you suggest it be replaced with?

Delete these notes

[2019-12-21 20:57] CAM-Gerlach commented on #102
@qrqiuren Thanks for your contribution. The issue is that the docs are nowhere near ready for Spyder 4 yet; they need a comprehensive update which we recently got a grant for and @juanis2112 will be working with help from myself and @ccordoba12 . As part of that, this will be updated; these docs aren't actually live on our production site and presumably won't be until the aforementioned project is

[2019-12-21 21:01] CAM-Gerlach commented on #98
@ccordoba12 @juanis2112 Pretty please?

[2019-12-23 01:34] ccordoba12 commented on #98
Please submit a PR with this fix. I don't understand why you can't help us with that if it's so important to you.

[2019-12-23 02:56] CAM-Gerlach commented on #98
Because as you _de facto_ removed me as maintainer, unlike yourself it is inherently no longer within my responsibility, authority nor knowledge to update `AUTHORS.txt` to accurately reflect the whomever has replaced me in the job (@juanis2112 ?). Furthermore as a practical matter, if it's @juanis2112 I either do not know or at do not have explicit permission to share her full name and email, so e

[2019-12-24 16:30] #98 closed

[2020-01-21 21:38] goanpeca opened #107 "Add FAQ on how to do complex regex searches with the Find panel"
See https://github.com/spyder-ide/spyder/issues/11368

[2020-01-21 21:51] CAM-Gerlach commented on #107
I would advise just including a small section in the Editor docs discussing the various features of the Find and Replace panel, and referring the user to one or a few guides covering how to use basic regex and maybe an interactive regex tester like regexr; there's no need to duplicate effort given its just standard regex on which innumerabe guides exist online. @juanis2112 would you want to add th

[2020-03-21 18:27] jitseniesen opened #110 "Update "Installing a development build" about git-subrepo"
I think the section [Installing a development build](https://docs.spyder-ide.org/installation.html#installing-a-development-build) needs to be updated now that we use `git subrepo` for `spyder-kernels`.

I was actually looking for the instructions about `git subrepo`, but could not find them easily.

[2020-03-21 19:00] ccordoba12 commented on #110
They are in the [Contributing guide](https://github.com/spyder-ide/spyder/blob/master/CONTRIBUTING.md) of the Spyder repo. Only people that needs to do joint PRs to Spyder and spyder-kernels need to know about them, so that's why I didn't consider necessary to add them to our docs.

[2020-03-21 21:52] jitseniesen commented on #110
Fair enough, and I see now that there is a link to the Contributing guide in that section

[2020-05-05 02:33] #110 closed

[2020-05-15 18:34] goanpeca opened #113 "Add a development subdomain for latest (develop) docs"
Add a new subdomain for having the latest development docs deployed

[2020-05-15 19:18] CAM-Gerlach commented on #113
The simplest way to do it, without creating another repo, seperate keys, or even a subdomain is to just deploy it to `develop` (or similar) subdir of the existing GH pages site, which Doctr should be able to easily do with just a couple extra lines in the `.travis.yml`. If you agree I can go ahead right now; the code I need to add should just be

[code]

In fact, we can use this to deploy multiple

[2020-05-15 19:47] ccordoba12 commented on #113
@CAM-Gerlach, your solution is way simpler than we had planned with @goanpeca! Could you open a PR for it?

[2020-05-15 19:57] CAM-Gerlach commented on #113
@ccordoba12 I was initially thinking of the same thing as @goanpeca but reading the doctr docs, this approach is far simpler to implement and scales with additional branches as required.

[2020-05-15 19:58] CAM-Gerlach commented on #113
@goanpeca agrees so its decided then. I'll create a PR in a little bit, and you can suggest whatever name you want for the subpath there if you want something longer than `dev`.

[2020-05-15 22:19] goanpeca commented on #113
Thanks! indeed it is a much simpler solution :-) 👍

[2020-05-18 05:09] #113 closed

[2020-06-04 23:22] goanpeca opened #117 "Add NumPy docstring to the development docs"
https://numpydoc.readthedocs.io/en/latest/format.html
https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_numpy.html

[2020-06-04 23:35] goanpeca opened #118 "Upload scripts used in videos and documentation"
To be able to reproduce images in the future with current and future versions of Spyder we should be able to have access to scripts used for creating content in the spyder docs website.

So for example GIFs at http://docs.spyder-ide.org/develop/plots.html#
`spyder-docs/scripts/plots/plots.py`
`spyder-docs/scripts/plots/mute_inline_plotting.py`
... etc.

[2020-06-22 23:43] juanis2112 opened #122 "Update installation guides"
## Issue Description

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are you planning on submitting a Github pull request with a suitable change?

* Anything else you'd like to add?

[2020-06-23 03:18] juanis2112 commented on #40
Will add this as a feature of the editor

[2020-06-23 03:19] juanis2112 commented on #87
Removing dependencies for new docs

[2020-06-23 03:19] #87 closed

[2020-06-23 03:19] juanis2112 opened #123 "Remove dependencies information from docs"
## Issue Description

Information of dependencies is not necessary anymore because they are mentioned in dependencies.py plus as they change frequently it makes it harder to update in the docs

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version o

[2020-06-23 03:22] juanis2112 commented on #89
@CAM-Gerlach  please include this in our installation guides

[2020-06-23 03:23] juanis2112 commented on #95
@CAM-Gerlach can you take a look at this?

[2020-06-23 03:25] juanis2112 commented on #96
Adding this as editor feature

[2020-06-23 03:26] juanis2112 commented on #99
Closing this issue because it is not useful with new API

[2020-06-23 03:26] #99 closed

[2020-06-23 03:27] juanis2112 commented on #101
Adding this as "how to... " short video

[2020-06-23 03:28] juanis2112 commented on #107
Adding this in Find pane features docs

[2020-06-28 02:22] CAM-Gerlach commented on #99
We should still create a tutorial, just for the new API rather than the now-current one, to make it much easier to create a Spyder plugin for anyone who already doesn't happen to be familiar with the API (which even most of us aren't).

[2020-06-28 05:00] CAM-Gerlach commented on #97
Hey @juanis2112 could you the reason this was closed?

[2020-06-28 05:01] CAM-Gerlach commented on #95
Yeah, sure. Maybe next weekend after I do the updates to the install guide.

[2020-06-28 05:01] CAM-Gerlach commented on #89
Will do, thanks.

[2020-06-28 05:04] CAM-Gerlach commented on #123
@juanis2112 It would be likely be easiest for me to do this along with my other updates to the install guide.

[2020-06-28 05:41] juanis2112 commented on #123
okay go ahead. Thanks!

[2020-06-28 06:16] juanis2112 commented on #97
There is another open issue about it @CAM-Gerlach

[2020-06-28 17:27] CAM-Gerlach commented on #97
I see. In that case, a comment should be left along the lines of `Closed as a duplicate of #XXXX` so its clear why it was closed, and links to the canonical issue so that those finding this one know where to go to track it further. As it stands, I'm not sure what issue that is, even after looking through all of them. Thanks!

[2020-06-28 17:28] CAM-Gerlach commented on #123
Sure thing, thanks!

[2020-06-28 18:28] juanis2112 commented on #97
duplicate of #40

[2020-06-28 18:41] CAM-Gerlach commented on #40
As the linked issue describes, this is not a feature of the Editor, but rather of the Outline pane. I believe it would make sense to cover it in that pane.

[2020-06-28 18:59] CAM-Gerlach commented on #97
They do seem similar at first glance, but actually, #40 is about documenting how cell names now appear in the Outline pane, while this one is about how to run cells in the Editor. So, it seems this should be re-opened.

[2020-06-29 01:28] ccordoba12 commented on #97
I agree with @CAM-Gerlach. #40 and this one are different, so let's reopen it.

[2020-06-29 01:29] ccordoba12 commented on #40
+1 to @CAM-Gerlach's suggestion.

[2020-06-30 15:57] ccordoba12 commented on #95
More on this topic:

* https://github.com/spyder-ide/spyder/issues/13133#issuecomment-651192994
* https://github.com/spyder-ide/spyder/issues/10240

[2020-06-30 16:00] ccordoba12 commented on #95
Also, the variable explorer is not working for remote kernels started through ssh. Still investigating why.

[2020-07-03 18:39] CAM-Gerlach commented on #95
@juanis2112 Should I do this before or after you do your PR on the IPython console?

[2020-07-05 22:37] #89 closed

[2020-07-05 22:37] #102 closed

[2020-07-05 22:37] #122 closed

[2020-07-05 22:37] #123 closed

[2020-07-07 03:11] dalthviz opened #133 "Use git subrepo to have the theme inside the repo"
## Issue Description

Use git subrepo to manage the theme installation

[2020-07-07 05:09] CAM-Gerlach commented on #133
What's the thinking on Git subrepo vs. normal Git submodules? I understand the latter introduces an extra dep, but are the advantages worth it?

[2020-07-07 05:50] dalthviz commented on #133
I guess it simplifies the number of commands to update the subrepo/submodule. Maybe @ccordoba12 has more info about it.

[2020-07-07 17:59] ccordoba12 commented on #133
Yes, regular users doesn't need to understand nor having anything to do with git subrepos. Besides, it's quiet easy to manage a subrepo per branch, whereas I don't think that's possible with submodules.

[2020-07-07 21:16] CAM-Gerlach commented on #133
Okay, sounds good. Just make sure its documented in the Contributing guide for the non-normal contributors; I've used submodules a lot but not subrepos yet.

[2020-07-12 19:18] juanis2112 opened #137 "Write docs for Spyder Notebook"
## Issue Description

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are you planning on submitting a Github pull request with a suitable change?

* Anything else you'd like to add?

[2020-07-23 05:19] juanis2112 opened #139 "Update style guide"
## Issue Description

 We decided to make some changes regarding the spacing and format, to match better the new theme so we need to fix the style guide to match these changes.

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are

[2020-07-31 18:31] ccordoba12 opened #144 "Make the navbar look as it does in the current stable theme"
This is how the navbar looks in the stable version of our docs:

![Selección_028](https://user-images.githubusercontent.com/365293/89065731-d8a87b80-d331-11ea-824d-7d8c0482c8fe.png)

And this is how it looks in the development one:

![Selección_029](https://user-images.githubusercontent.com/365293/89065771-e9f18800-d331-11ea-9004-91e16b609c09.png)

I think we need to make them match so the navbar

[2020-07-31 18:32] ccordoba12 commented on #144
@dalthviz, please take care of this one.

[2020-08-04 02:41] dalthviz opened #150 "Create previews of the Pull Requests"
## Issue Description

Use something to build PR previews i.e Netlify

[2020-08-04 14:03] ccordoba12 commented on #150
Thanks @dalthviz! I think this would be really useful!

[2020-08-06 00:36] ccordoba12 opened #152 "Icons in cards lost their blue color"
We noticed this in our meeting with Isabella yesterday. I think it's a regression introduced by PR #148.

@CAM-Gerlach, could you take a look at this one? Thanks!

[2020-08-06 02:32] CAM-Gerlach commented on #152
Again? :facepalm: I'll take a look...it didn't happen when I tested that PR locally, so I'm not sure what caused it, but I indeed see its missing on the site.

[2020-08-06 02:47] CAM-Gerlach commented on #152
Somehow a one-character typo crept in there...oops.

[2020-08-06 02:48] #152 closed

[2020-08-06 03:32] ccordoba12 opened #155 "Some issues on small screen sizes"
When trying the site on small sizes, I found the following issues:

* The page index on the right disappears for some intermediate sizes

![Selección_044](https://user-images.githubusercontent.com/365293/89487128-4efe1100-d76a-11ea-9f64-37fe34b77dde.png)

Instead, the VScode docs page moves the left index to a dropdown on top and keep displaying the right one

![Selección_045](https://user-images.

[2020-08-06 03:33] ccordoba12 commented on #155
@dalthviz, could you help us with this one? I would, but I really don't know anything about bootstrap and responsiveness.

[2020-08-06 03:37] ccordoba12 commented on #152
Thanks @CAM-Gerlach for the fast response!

[2020-08-06 09:19] rgommers opened #159 "README is out of date"
I got here because I was searching for the latest version of the docs with the new Sphinx theme. I didn't manage to find them, and in addition I noticed that the `Building and deploying` section of the README still talks about "Spyder 4 in Q1 2019 if we get funding". Can this be updated?

[2020-08-06 14:31] dalthviz commented on #144
Being worked on spyder-ide/spyder-docs-sphinx-theme/pull/12

[2020-08-06 17:40] ccordoba12 commented on #159
Thanks Ralf for the feedback. I'll do it.

[2020-08-06 17:47] CAM-Gerlach commented on #159
@ccordoba12 I can take care of it now

[2020-08-06 19:00] ccordoba12 opened #162 "Tasks before making an official release of the Spyder 4 docs"
After talking to @juanis2112 a couple of days ago, I came to the conclusion that we're really not helping our users by withholding a release of our in-development docs until all panes are documented.

Therefore, I propose to do an initial release right now with what we have. To make that a reality, I think we need to finish the following tasks:

- [x] Create an Overview page. @CAM-Gerlach and @jua

[2020-08-06 19:42] CAM-Gerlach commented on #162
I thought @dalthviz updated it as nesesary (with some feedback by me) when he first committed the new theme?

[2020-08-06 20:32] dalthviz commented on #162
Yep, I think that the contributing guide is updated :+1: although a double check to see if something is missing never is bad (I changed the item for `Review and update if needed ...` instead of `Add ..`).

[2020-08-06 21:19] juanis2112 opened #163 "H3 fontsize and H4 fontsize are not different enough"
## Issue Description

Linux is H3 and Ubuntu is H4 and they look very similar.

![Screen Shot 2020-08-06 at 4 15 26 PM](https://user-images.githubusercontent.com/18587879/89583763-861f0180-d800-11ea-8fbd-819a9160ce84.png)

Right now the sizes are:
-H3: 22.4
-H4: 21.6

I suggest:
-H3: 22.4
-H4: 17.6 (which is 1.1 rem)

### Where is the relevant portion of the documentation located?

### What would

[2020-08-06 21:47] juanis2112 opened #164 "Add link to index page in the sidebar"
## Issue Description
I think it would be useful to add a "Home" item in the sidebar pointing the index page as the only "HOME" button that is currently in the page points to the Spyder's main page and it is not quite clear that to go to the index page of the docs they should click the Spyder's DOCS element in the nav bar.

![Screen Shot 2020-08-06 at 4 46 11 PM](https://user-images.githubuserconte

[2020-08-06 22:07] juanis2112 opened #165 "Icon height is not centered with respect to text in Installation guide and index page"
## Issue Description
I think we should center the height of the icons with respect to the text.

![Screen Shot 2020-08-06 at 5 04 49 PM](https://user-images.githubusercontent.com/18587879/89587393-2a0bab80-d807-11ea-8693-4c0a78f68828.png)
![Screen Shot 2020-08-06 at 5 04 34 PM](https://user-images.githubusercontent.com/18587879/89587398-2b3cd880-d807-11ea-9ab9-394b87e0e7f7.png)

### Where is the r

[2020-08-06 22:14] juanis2112 commented on #162
I already had an idea for the Overview so I'll work on that with @CAM-Gerlach.
I was also working on the missing sections that are on the cards so I'll try to finish that by the end of this week so instead of removing them we actually have something for those two sections.
I made some suggestions to @CAM-Gerlach about the contributing guide after @dalthviz fixes so we can give it a last review tog

[2020-08-07 00:01] ccordoba12 commented on #164
Agreed on the location and also on calling it "Home".

[2020-08-07 00:03] #159 closed

[2020-08-07 00:05] ccordoba12 commented on #162
Great to know @juanis2112! Please let us know if you need something else from @dalthviz or me.

[2020-08-07 00:09] ccordoba12 commented on #164
Sorry, we shouldn't call it "Home" because there's another "Home" on the navbar, and having two of them would be really confusing.

So my suggestions are "Main page" or "Landing page".

[2020-08-07 00:29] juanis2112 commented on #164
Maybe we can rename the current overview to something like "Quick Start" and have the Overview point to index.

[2020-08-07 00:47] ccordoba12 commented on #164
Very good idea too @juanis2112!

[2020-08-07 02:41] #165 closed

[2020-08-07 15:17] CAM-Gerlach commented on #162
As part of #158 I ended up doing a comprehensive update and improvement of the Contributing Guide too, since there were a bunch of things that needed updating, so hopefully that should be ready now but @dalthviz can check it one more time to make sure there's nothing missing on the build side (the instructions seem to work in our testing, with the exception of the typos @juanis2112 mentioned).

[2020-08-07 15:19] CAM-Gerlach commented on #164
Great idea @juanis2112; that would be my preference.

[2020-08-12 22:31] #150 closed

[2020-08-13 03:33] #164 closed

[2020-08-13 18:53] dalthviz opened #170 "Image centering sometimes looks off"
## Issue Description

The images don't look centered since the text is left aligned as discussed with @ccordoba12

### Where is the relevant portion of the documentation located?

Images in the docs
![image](https://user-images.githubusercontent.com/16781833/90174643-eca99f80-dd6b-11ea-9686-980e445a8958.png)

### What would you suggest it be replaced with?

Check a way to improve the centering of

[2020-08-14 04:48] juanis2112 opened #172 "There is very little difference between text with :guilabel: and regular text"
## Issue Description

I think we should change the style of the guilabel items because they don't look very different form the regular text.

![Screen Shot 2020-08-13 at 11 45 33 PM](https://user-images.githubusercontent.com/18587879/90214844-6a4acb00-ddbf-11ea-8931-b855c3c6e6b3.png)

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

[2020-08-16 07:44] #139 closed

[2020-08-17 18:31] #155 closed

[2020-08-19 23:29] CAM-Gerlach opened #179 "Set up UI, redirects and deployment for use with multiple versions of the docs"
## Issue Description

As part of #162 , we need to implement version switching in the docs. What we want is:

* [ ] Each set of docs (3.x, 4.x, and eventually 5.x) deployed to a subdirectory corresponding to the version number (which is trivial for me to do with what I've already set up with doctor)
* [ ] A dropdown menu at the top of the page to select the version of the current page of the docs

[2020-08-20 00:19] juanis2112 opened #180 "Changes in docs after UX review"
## Issue Description

After our UX review meeting with @isabela-pf, these are the changes we will implement.

- [x] Remove join our community H3 titles from right sidebar
- [x] Change Overview to Welcome in side bar and “Welcome to Spyder documentation” in title page

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other informa

[2020-08-20 18:35] dalthviz commented on #179
Note: Possible extension to do the redirects - https://github.com/sphinx-contrib/redirects

[2020-08-21 02:20] juanis2112 opened #183 "Add script to videos in docs"
## Issue Description

1. Move overview to top of videos
2. Add script below it.

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are you planning on submitting a Github pull request with a suitable change?

* Anything else you'd

[2020-08-21 02:56] #180 closed

[2020-08-24 23:49] CAM-Gerlach commented on #179
Sorry, thought I replied to this before. I'm not sure how sphinx-redirect will work at least with sphinx-multiversion, since it only redirects things relative to the Sphinx source dir, not the actual deployed dir, so I'm not sure how it would work between deployed branches. Also, if we used it, we'd have to still write code to manually build a list of all the docs to actually make the manual redir

[2020-08-25 03:00] CAM-Gerlach commented on #179
Sure, sounds fine to me.

Do note that what we do about the redirects will inherently depend on the build process changes with `sphinx-multiversion`, so I can't actually do much until that's implemented. However, what I propose to do is the following, after sphinx-multiversion builds the docs and before doctr deploys them to Github pages:

1. Copy the HTML build output of the current stable branch

[2020-08-26 00:54] #144 closed

[2020-08-26 03:58] CAM-Gerlach opened #187 "Tour displays poorly on small screens"
## Issue Description

![image](https://user-images.githubusercontent.com/17051931/91253829-66f00180-e726-11ea-8e3e-34024329e220.png)

The HTML elements themselves are responsive but the popover positioning causes problems on small screens, especially for the first step; it has to do with where the popover renders relative to the element its targeting.

As a quick fix, on the first step (where its

[2020-08-26 03:58] CAM-Gerlach commented on #187
Thanks to @dalthviz for pointing this out!

[2020-08-26 04:43] CAM-Gerlach opened #188 "Add version banner on older or dev versions with link pointing to current stable"
We don't need to do this right away, but @dalthviz suggested I open an issue so as we don't forget. One approach to doing so is described [in the Sphinx-Multiversion docs](https://holzhaus.github.io/sphinx-multiversion/master/templates.html#version-banners)

[2020-08-28 17:12] juanis2112 commented on #183
closed with #181

[2020-08-28 17:12] #183 closed

[2020-08-30 06:29] CAM-Gerlach commented on #179
_Realized I never posted this, including for postarity_

Sure, sounds fine to me.

Do note that what we do about the redirects will inherently depend on the build process changes with `sphinx-multiversion`, so I can't actually do much until that's implemented. However, what I propose to do is the following, after sphinx-multiversion builds the docs and before doctr deploys them to Github pages:

1

[2020-08-30 06:29] CAM-Gerlach commented on #179
Fixed by PR #185

[2020-08-30 06:29] #179 closed

[2020-08-30 06:30] CAM-Gerlach commented on #162
@juanis2112 We just need the screenshot for the readme so we can close this; lmk if you want me to do it or you want to. Thanks!

[2020-08-30 06:33] CAM-Gerlach commented on #118
Fixed by PR #181

[2020-08-30 06:36] CAM-Gerlach commented on #63
Fixed by PR #127

[2020-08-30 06:36] #63 closed

[2020-08-30 06:37] juanis2112 commented on #118
PR 181 doesn't solve this issue.

[2020-08-30 06:38] CAM-Gerlach commented on #170
So, what's the plan on this one @juanis2112 ? Close it as wontfix, add some sort of padding adjustment, use left-aligned images, something else?

[2020-08-30 06:44] CAM-Gerlach commented on #118
Sorry, my mistake; I should have read the description more carefully. I mixed this up with #183 , because of the ambiguously similar name, that I knew Gonzalo had talked about opening an issue for that, and PR #181 was tagged as closing #181 (not #183 ) which I assumed was a digit transposition typo of #118 (this issue).

[2020-08-30 07:54] #162 closed

[2020-09-01 04:44] ccordoba12 opened #195 "Add new pairings between Spyder and spyder-kernels for version 4.1.5 and 4.2.0"
See https://github.com/spyder-ide/spyder/pull/13679 about it.

@juanis2112, I'll let you know when Anaconda releases new packages for that version, so you can proceed to fix this issue.

[2020-09-02 22:31] CAM-Gerlach commented on #195
Since the table lists the Spyder-Kernels version required for each Spyder version, there's no real harm in adding the new one now (its not like its a 4.1.5-only feature). But if for whatever reason we didn't want to merge it until the `defaults` packages go live, we could simply merge the PR then.

[2020-09-03 03:34] ccordoba12 commented on #195
Sure, no problem with that. However, 4.1.5 is on `defaults` now.

[2020-09-22 02:41] juanis2112 opened #196 "Embed information of tutorial in help as how-to’s in docs"
## Issue Description

During our ux review we decided to remove the tutorial from spyder and include it as part of the documentation.

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are you planning on submitting a Github pull r

[2020-10-16 19:09] juanis2112 opened #197 "Add FAQ question on switching environments and interpreters based on the new implementation"
## Issue Description
This PR https://github.com/spyder-ide/spyder/pull/13950 improves the way that we display the environments and python interpreters so we should add a FAQ that we can point from preferences to explain people how to do this.

[2020-10-16 23:57] CAM-Gerlach commented on #197
Just to clarify, do you mean an FAQ i.e. a whole FAQ page, or an individual FAQ question?

[2020-11-03 20:33] juanis2112 opened #198 "Add installation instructions for new installers for Windows and Mac"
## Issue Description

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are you planning on submitting a Github pull request with a suitable change?

* Anything else you'd like to add?

[2020-11-09 20:40] #197 closed

[2020-11-15 22:13] CAM-Gerlach opened #201 "Add additional important information and explanation about new installers"
## Issue Description

Currently, the standalone installers section we included as stopgap needs some more additional elements to answer what are likely going to be key user questions about the new installers. We might want to consider adding at least some of the to the FAQ, if you all agree and we indeed start seeing them.

@ccordoba12 @juanis2112 Feel free to edit the below section to add anythin

[2020-11-17 16:48] ccordoba12 commented on #201
My answers:

Yes, they need to uninstall the previous version and install the new one.

No, there isn't and it won't be. I really don't how what you need to do to make that work.

Yes, it does. See PR https://github.com/spyder-ide/spyder/pull/14091 for how things look now.

Yes, that's right. That's the way to start Spyder after installing it with our installers. I also think it's important to men

[2020-11-17 18:51] CAM-Gerlach commented on #201
Thanks for all your detailed clarifications; that's all very helpful.

I see, then we should explicitly mention this then. Manually visiting the site, downloading the new installer, uninstalling the old version and installing the new version seems like a pretty big hassle for compared to just typing `conda update spyder`. @dalthviz @mrclary can the installer at least install on top of the previous

[2020-11-17 19:29] mrclary commented on #201
@ccordoba12 @CAM-Gerlach ,
* The macOS installer does not require uninstalling previous versions. Once the new version dmg is downloaded, copying the Spyder application into the Applications folder will overwrite the existing version.
* I can look into the code snippet limitation. Just create an issue and assign to me. Previously, `rtree` could not be included in the build, but I can investigate m

[2020-11-17 19:57] ccordoba12 commented on #201
Thanks @mrclary, that would be really helpful.

[2020-11-17 20:24] CAM-Gerlach commented on #201
Yes, and a more serious limitation that specifically affects the installers is support for viewing arbitrary Python objects (e.g. classes from third party packages) in the Variable Explorer provided by packages that aren't in the baseline Spyder environment, which is very common in many scientific workflows. Unlike in Anaconda where you can at least install it in the Spyder environment (though tha

[2020-11-17 22:49] mrclary commented on #201
@CAM-Gerlach,
I think the short-term solution to the Variable Explorer problem is that users download the full version and we could consider including more packages if there is sufficient demand. There are only two trade-offs:
* The application is much larger. The lite version is ~370MB and the full version is ~600MB (on macOS). The full version would be larger still if additional packages are inc

[2020-11-17 22:59] #198 closed

[2020-11-27 21:54] CAM-Gerlach opened #202 "Add FAQ question on Spyder's license and the impact of the Anaconda EULA change"
## Issue Description

We've gotten a number of questions lately (and we've always had a few) about whether Spyder is free for commercial use and distribution, and particularly what the impact of the [Anaconda EULA change](https://www.anaconda.com/blog/sustaining-our-stewardship-of-the-open-source-data-science-community) is on it, now that it seems to have come to the fore. Therefore, it would be g

[2020-11-29 15:48] ccordoba12 commented on #202
This is a very good idea! Thanks @CAM-Gerlach for bringing it up.

[2020-11-29 20:13] CAM-Gerlach opened #203 "Add FAQ question on troubleshooting Big Sur incompatibility to link to from download section of site"
## Issue Description

There's been a lot of people on various channels trying to install Spyder on macOS Big Sur, where it is not yet supported and won't work yet, unless users follow the workaround proposed by @ccordoba12 in [this comment](https://github.com/spyder-ide/spyder/issues/14218#issuecomment-730141294) on spyder-ide/spyder#14218 and [this comment](https://github.com/spyder-ide/spyder/is

[2020-11-29 20:22] CAM-Gerlach opened #204 "Add support for direct links to individual FAQ questions that expand them"
## Issue Description

We need to be able to directly link to the FAQ question to be added per #203 from the website, and this would be very useful to have to link users elsewhere to FAQ questions, especially as the page continues to grow. However, FAQ questions don't have unique ids that I can link to directly, nor can I get them to open automatically, so the nearest thing that can be currently li

[2020-11-29 20:30] CAM-Gerlach commented on #195
@juanis2112 3 month bump. Would you like me to do this instead?

[2020-11-29 20:52] CAM-Gerlach commented on #202
We'll probably want to update the install guide to, but I can do that as part of implementing #201

[2020-12-06 00:29] #204 closed

[2020-12-06 02:26] #203 closed

[2020-12-09 05:10] #195 closed

[2020-12-14 02:47] yucheng90 opened #334 "How to install package after using standalone installers of spyder"
## Problem Description
I installed spyder(4.2.0) by using standalone installers. I saw there is a folder 'pkgs' which contains all packages from standalone installers. How can I install new or update current packages? It seems there is no prompt or pip installed.

## Versions
* Spyder version: 4.2.0
* Python version: 3.7.9
* Qt version: 5.12.9
* PyQt version: 5.12.3
* Operating System name/version

[2020-12-14 16:10] ccordoba12 opened #212 "Anchors to questions in FAQ don't include header"
This how things look after opening a certain FAQ anchor:

![Selección_062](https://user-images.githubusercontent.com/365293/102104848-a5f0b280-3dfc-11eb-88ef-22fc9590b308.png)

However, I think that looks odd and I'd really prefer that the header would be shown too, like this:

![Selección_063](https://user-images.githubusercontent.com/365293/102105027-e05a4f80-3dfc-11eb-99ea-550086f6bc60.png)

@C

[2020-12-14 17:52] CAM-Gerlach commented on #212
@ccordoba12 Could you please describe the browser, OS and exact steps to reproduce? Most of the code, complexity and commits in PR #207 is dedicated to avoiding this very issue, and as part of that PR, I successfully tested this specific behavior extensively across FF and Chrome on both Windows and Android in a variety of situations (and asked you and @juanis2112 to do the same on your platforms a

[2020-12-14 21:13] ccordoba12 commented on #212
Firefox 78 on Linux.

In my case this happens every time I click on an anchor.

[2020-12-14 22:16] CAM-Gerlach commented on #212
Okay, thanks. I cannot reproduce this behavior on FF 80 and Chrome 87 on Windows 8.1, nor on Falkon 3.0.0, QtWebEngine 5.10.1 or FF 83 on my own Linux VM (Fedora 29 LXQt). However, I _can_ reproduce it some of the time on FF 78 on my Linux VM when clicking on , seemingly at random, which suggests to me its likely a race condition between the built-in browser functionality that scrolls to anchors a

[2020-12-14 23:35] ccordoba12 commented on #212
Thanks, but if this caused by an old browser, I think we can simply close it (I just haven't had time to update my distro).

I thought this was a general (and really bad) problem, but if it's working in newer versions, I see no reason to invest more time on it.

[2020-12-19 00:40] #202 closed

[2020-12-26 08:13] nbelakovski opened #215 "Can't figure out difference between Spyder.dmg and Spyder-Lite.dmg"
I'm ignoring the normal template since this is a documentation issue.

I see a Spyder-Lite.dmg in the assets on the releases page. I'm guess it's a version of Spyder without numpy, etc., but I can't find anything in any docs to confirm or deny this. I'm happy to make a PR to add to the docs, but of course I can't do that if I don't know what it is

[2020-12-26 23:54] ccordoba12 commented on #212
Closing because I verified this is not a problem in Firefox 84 on Linux.

[2020-12-26 23:54] #212 closed

[2020-12-27 00:57] CAM-Gerlach commented on #215
Sorry for the confusion, @nbelakovski , and thanks for letting us know. We actually already have an issue in progress, #201 , to document this (and several other key points with the new installers); its next in line after we finish PR #213 and porting the deployment of the docs over to Github actions, so it should be addressed in the next couple weeks.

To actually answer your question, the differ

[2020-12-27 00:57] #215 closed

[2020-12-27 04:23] nbelakovski commented on #215
Thanks @CAM-Gerlach !

[2021-01-08 23:23] Justinas365 opened #216 "Content of the .py file"
## Issue Description
I can not understand how can I see a content in my python file. Since this is the first thing you see on the website, I suppose this feature is available but the explanation how to get there is missing.
![image](https://user-images.githubusercontent.com/60322278/104074406-f98dca80-5207-11eb-8bb9-d162d3b44b27.png)

### Where is the relevant portion of the documentation located?

[2021-01-08 23:27] Justinas365 commented on #216
Please ignore. I spent all evening looking for this and accidently just found.

[2021-01-08 23:27] #216 closed

[2021-01-09 00:42] ccordoba12 commented on #216
Glad you found the solution @Justinas365.

[2021-02-11 19:54] CAM-Gerlach commented on #95
@ccordoba12 Since paramiko was added as a dependency, is this still necessary beyond what's done in #213 ?

[2021-05-04 09:46] emres opened #236 "Broken links on the main page: www.spyder-ide.org, giving 404 error messages"
# Issue Report
Some of the links on the main page are broken, giving 404 error messages.

## Issue Description
The following links are broken, they give 404 errors as of this writing:

- http://docs.spyder-ide.org/current/editor.html
- http://docs.spyder-ide.org/current/ipythonconsole.html
- http://docs.spyder-ide.org/current/variableexplorer.html
- http://docs.spyder-ide.org/current/plots.html
-

[2021-05-04 18:36] ccordoba12 commented on #236
Thanks a lot for reporting @emres! We'll fix that as soon as possible.

@juanis2112, please take a look at this one.

[2021-05-04 18:36] ccordoba12 commented on #236
Note: I'm going to move this issue to our website repo because it really belongs there.

[2021-05-11 10:18] thistlillo opened #237 "Installing/updating instructions need some fixes (maybe)"
I think this page needs some fixes:

https://docs.spyder-ide.org/current/installation.html

That is the page reached when clicking on "Installation guide" in this dialog:

![spyder-dialog](https://user-images.githubusercontent.com/6717655/117798851-d45ea680-b251-11eb-896f-0101ec2a3388.jpg)

  1) From this section I understand that the recommended Win/Mac installation method is "Standalone installe

[2021-05-14 16:51] juanis2112 opened #250 "FAQs and other dropdowns not uncollapsed when they contain highlighted search terms"
# Issue Report

## Issue Description

We need to add code for the search button to search for text inside the FAQ answers. As the answers are collapsed by default the page doesn't show results In the answers.

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a part

[2021-05-15 17:28] texadactyl opened #251 "Enhancement request: Add OS dependency information to the Installation Guide"
The purpose of this enhancement request would be to guide users to perform the required O/S installations prior to attempting to launch spyder.  This will avoid wasted time and effort for the user and the unpaid support staff.

For example, Debian/Mint/Ubuntu Linux 20.x & 21.04 (possibly other .deb distros too) require thefollowing installations before first launch:
* pyqt5-dev (Development librar

[2021-05-15 18:23] ccordoba12 commented on #251
pyqt5-dev-tools (Development tools for PyQt5)

Why are these packages necessary?

This is really unbelievable: so you need to manually install `python3-pyqt5` after installing Spyder? This really shows that Linux distros are totally broken.

What do you mean by this?

[2021-05-15 18:26] ccordoba12 commented on #251
I think you should open a bug in Debian to get our dependencies fixed. I mean, what's the point of installing a package there if it's broken when you try to run it?

[2021-05-15 21:36] texadactyl commented on #251
@ccordoba12 - no ill intentions!  (:

The O/S dependencies I listed are optional Debian/Ubuntu/Mint packages.  Not all of their users are developers just like not all Windows and MacOS users are developers.  Of course, the core Qt5 operational packages are provided at installation time.

They are necessary native Qt dynamic libraries (.so, .dll) for the Python code to bind with.

I suspect that th

[2021-05-15 21:44] texadactyl commented on #251
Some corrections:
* python3-pyqt5 (Python 3 bindings for Qt5) is installed with the O/S.  No user action is required.
* pyqt5-dev is not required.

So, the only user action required is to install O/S package ```pyqt5-dev-tools``` (Development tools for PyQt5).

[2021-05-15 21:50] texadactyl commented on #251
The following are the pyqt5-dev-tools components installed by ```apt``` on Xubuntu:
[code]
One of the PyQT* packages must be using one of the ```/usr/lib/python3/dist-packages/PyQt5``` or ```/usr/bin``` files.

[2021-05-15 22:25] texadactyl commented on #251
There are several "spyder3" references in the installation gudie at https://docs.spyder-ide.org/current/installation.html
Also, people should not be encouraged to install Spyder from Linux distribution repositories as they are always out of date and potentially more support work.  I would stick with Anaconda/miniconda (preferred) or pip instructions and remove the others.

I realize that you have

[2021-05-17 15:54] ccordoba12 opened #252 "Mention the limit of saved lines in the History pane"
# Issue Report

## Issue Description

The current limit is 1000 lines but we are mentioning that at the moment. This issue was prompted by the following SO question:

https://stackoverflow.com/questions/67526826/clear-history-tab-of-ipython-console

### Where is the relevant portion of the documentation located?

http://docs.spyder-ide.org/current/panes/historylog.html

### What would you suggest

[2021-05-17 15:56] ccordoba12 commented on #252
We should also mention that History can't be cleared up (another suggestion from that question).

[2021-05-19 20:45] ccordoba12 commented on #237
Hey @thistlillo, thanks a lot for your remarks! Is it ok for you to open a pull request to improve the things you mentioned? It'd be really helpful but there's no problem if you don't feel comfortable with that.

[2021-05-21 08:24] thistlillo commented on #237
Hello @ccordoba12, opening a pull request would not be a problem (indeed, I would love to contribute, even if with a less than minimal help), but I would not be able to modify the instructions. I do not know for certain:
- which the recommended method of installation is (item 1)
- how we are supposed to update Spyder when conditions at item 2 check.

[2021-05-21 18:43] juanis2112 commented on #237
Hi @thistlillo. We are happy to help you get the right information to contribute.

- The recommended method of installation is our Standalone installers, for users with Windows and Mac. For users with Linux or with some special needs (or those who prefer anaconda), they can download Anaconda which comes with Spyder. However, the link that we have there is outdated. The correct link for installing

[2021-05-26 22:59] juanis2112 commented on #237
@thistlillo please let me know before Saturday if you will be doing the PR so we can wait for you. Otherwise I'll work on it next week :)

[2021-05-27 03:02] thistlillo commented on #237
I confirm. I can work on it next week, starting from Wednesday (several deadlines in the meantime).

[2021-05-28 20:01] CAM-Gerlach commented on #237
We really appreciate your offer of help, @thistlillo . FYI, updating the "Updating Spyder" section has been one of the issues documented to be improved as part of #201 for some time now, and the basic content needed is discussed there, but unfortunately I hadn't yet found the time to actually add it. If you'd like to help address that aspect in this separate issue, you are free to use the informat

[2021-05-30 03:52] thistlillo commented on #237
Thank you, @CAM-Gerlach. I have read the discussion you cited and will certainly include all of the comments in what I will propose.

[2021-06-03 07:03] thistlillo commented on #237
Ok, so I am branching out the repository for the updates to the docs. I am about to clone this:
- https://github.com/spyder-ide/spyder-docs/tree/4.x
then, after you approve the merge, I will copy the instructions to the current master. Is it ok for you?

[2021-07-15 00:12] juanis2112 opened #268 "Quickstart displaying Spyder 5 mainwindow screenshot in Spyder 4 docs"
# Issue Report

## Issue Description

Quickstart is displaying  screenshot of Spyder 5  in spyder4 docs

<img width="1440" alt="Screenshot 2021-07-14 at 7 11 17 PM" src="https://user-images.githubusercontent.com/18587879/125708462-43ca6ffb-3ab5-4932-8fe1-4f068cf804b9.png">

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other i

[2021-07-15 00:13] juanis2112 opened #269 "Embed video about connecting additional packages in docs"
# Issue Report

## Issue Description

Embed video about connecting additional packages somewhere in docs probably in the FAQ:
https://www.youtube.com/watch?v=i7Njb3xO4Fw&t=23s

### Where is the relevant portion of the documentation located?

### What would you suggest it be replaced with?

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

* Are

[2021-07-17 18:15] vinisalazar opened #270 "New doc request: Spyder Terminal Plugin"
# Issue Report
It would be nice to have a docs page creating documentation for the [Spyder Terminal plugin](https://github.com/spyder-ide/spyder-terminal).

## Issue Description
- [x] Create a page in the [Plugins folder](https://docs.spyder-ide.org/current/plugins/) containing documentation for using the Spyder Terminal plugin.
- [x] Add images that showcase the Terminal plugin.
- [x] Verify that

[2021-07-18 18:23] vinisalazar opened #273 "New doc request: Line Profiler plugin"
# Issue Report
It would be nice to have a docs page explaining how to use the [Spyder Line Profiler plugin](https://github.com/spyder-ide/spyder-line-profiler/).

## Issue Description
- [ ] Create a page in the plugins folder explaining how to use the Line Profiler plugin
- [ ] Add images that showcase the Line profiler plugin
- [ ] Verify that the docs build correctly

### Where is the relevant p

[2021-09-10 14:59] #269 closed

[2021-09-21 22:37] #270 closed

[2021-09-22 00:38] #273 closed

[2021-09-22 21:58] CAM-Gerlach commented on #268
This is presumably due to how the URL of the image to load is retrieved; we should be able to fix this by using relative URLs, or failing that, just hardcoding them. Should be a simple fix.

[2021-09-24 02:25] CAM-Gerlach commented on #268
It looks like that was all correct; the issue was that apparently `sphinx-mutliversion` always uses the build branch's (i.e. `master`) `_static` directory, which allows the different versions of the site to stay in sync in terms of overall appearance and menus, top bar, etc., but since the tour images are in `doc/_static/images` instead of `doc/images`, they are copied too. I'll open a PR to move

[2021-09-24 04:15] CAM-Gerlach commented on #268
Solving this is ending up being much more complicated than anticipated due to Sphinx-Multiversion copying both static and extra dirs from the build branch, not the current branch, regardless of the current settings, and including them in `images` doesn't work either, as they apparently aren't copied at all if they aren't used. I believe we may be able to work around this by just including both in

[2021-09-24 05:00] #268 closed

[2021-09-24 05:04] CAM-Gerlach commented on #268
Confirmed fixed now. The same strategy can be used if and when we want to use unique steps/step descriptions, coupled with storing these data in a JSON files in a versioned subdir of assets, coupled with making a call to the quickstart trigger code including the versioned data path to load into an inline `<script>` block inside the raw directive in the quickstart source files, so it loads the vers

[2021-09-28 21:22] CAM-Gerlach commented on #95
@ccordoba12 I believe whatever of this wasn't mooted by adding Parmiko as a dependency on Windows (the original use case for this) should be covered by our detailed, step by step illustrated guide in the IPython Kernel docs as added in PR #213 . If there are specific future improvements that should be made there, that might be better handled in a new issue. As such, I'll go ahead and close this if

[2021-09-28 21:26] CAM-Gerlach commented on #88
@ccordoba12 @juanis2112 Documenting the plugin API is being done in a separate repo (the original topic of this issue) and the officially supported first-party plugins are already or in the final stages of being documented here, so we can close this one, right?

[2021-09-28 21:28] CAM-Gerlach commented on #137
This was completed in #264 , so this can be closed.

[2021-09-28 21:28] #137 closed

[2021-09-28 21:31] CAM-Gerlach commented on #133
Given this issue has gone stale, the theme has been relatively stable with few coupled changes (or major changes of any kind), this was not a major obstacle in practice once everything was in production, and there doesn't appear to be a clear need for adding extra complexities and dependencies in the docs build process, I think we can safety close this.

[2021-09-28 21:31] #133 closed

[2021-09-29 03:30] CAM-Gerlach commented on #252
Given this issue has been inactive for months, I've gone ahead with a PR to solve it.

Somewhat OT, but only 1000 lines seems awfuly short, considering (unfortunately) many scientific scripts are much longer than that. Even with over 1000 lines, most of them long, my history log is a minuscule 30 kB (around 0.1% of the 2-5 MB size of the variety of current, dev and backup `.spyder-py3` dirs I have

[2021-09-29 04:41] CAM-Gerlach commented on #250
While search finds text inside FAQ answers just fine, the issue that it appears the above is referring to is that question(s) that contain highlighted/matched text are not uncollapsed. I can solve that in a PR with some custom JavaScript.

[2021-09-30 20:55] CAM-Gerlach commented on #251
Hello @texadactyl , thanks for the detailed information and sorry for the long delay on this. I'm revising the installation guide now and updating out of date references; I'll have a PR shortly.

We actually already do have several strong warnings against installing Spyder from the Linux distro repositories for the reason you mention, and recommend our installers or Anaconda instead (or pip as a b

[2021-10-01 14:32] hyamanieu opened #297 "Documentation for using WSL2 on Windows"
# Issue Report

## Issue Description

I wanted to suggest additional information on setting up Spyder on Microsoft Windows when combined with WSL2.
Setting up Spyder on WSL as suggested by https://github.com/spyder-ide/spyder/issues/13023 is an overkill. One can develop with the normal Windows-based installation of spyder and if necessary link to a spyder kernel running on the subsystem linux.

I

[2021-10-01 14:43] texadactyl commented on #251
@CAM-Gerlach
No worries about taking time.  As this issue is solely about one web page of documentation, I can see it being much lower priority than the feature enhancements and code bug fixes.

I would guess that most folks do not use the method described in https://docs.spyder-ide.org/current/installation.html section entitled "Linux" "Ubuntu" or "Debian" "Using the official package manager:".

[2021-10-01 23:29] CAM-Gerlach commented on #297
Hey @hyamanieu , thanks so much for offering your contribution. This sounds like quite useful information to add to Spyder's docs, and your section seems to be carefully thought out, clear and well written.

We could put it in the install guide, but like you say, its pretty specific to have its own top-level section there. Instead, I think it may be a great fit for the purpose and format of our FA

[2021-10-03 02:43] CAM-Gerlach commented on #251
Yep (though unfortunately some do), as those sections are under the "alternative methods" heading further down, not the recommended standalone and Anaconda sections users are guided toward, and guided by multiple "caution" admonitions that mention these issues.

For now, we've kept those sections briefly mentioned, as some users do insist on using these methods, but mostly to warn them away from s

[2021-10-04 07:13] hyamanieu commented on #297
I was a bit hasty: it's not that straightforward to connect to a python kernel, connection to an external kernel must be used so it must first be started on WSL.

I'll try to document it as you advised.

By the way, https://docs.spyder-ide.org/ipythonconsole.html#connect-to-an-external-kernel is a deadlink :)

[2021-10-04 22:25] CAM-Gerlach commented on #297
Thanks, and great catch; I should have asked about that before, sorry.

I see you linked a PR over on your fork (did you mean to make that here instead)? Your work looked great; the steps you added were clear and explicit while still being concise. We look forward to seeing it submitted over here whenever you are ready to do so.

I might suggest a few changes to your commands and some nitpicky tec

[2021-10-04 22:26] CAM-Gerlach commented on #297
Sidenote for @ccordoba : Seems like the issue with `ipython_genutils` (which should be installed via `conda` rather than `pip` to avoid breaking the environment) might be something we should address; the [package](https://github.com/ipython/ipython_genutils) is described in strong terms as something that should not be depended upon by other projects, whose usage should be removed as soon as practi

[2021-10-04 22:43] CAM-Gerlach commented on #252
Closing manually since auto-closed got confused due to "issue" separating "fix" and the number.

[2021-10-04 22:43] #252 closed

[2021-10-04 22:44] CAM-Gerlach commented on #188
Closing manually since auto-closed got confused due to "issue" separating "fix" and the number.

[2021-10-04 22:44] #188 closed

[2021-10-04 22:44] CAM-Gerlach commented on #187
Closing manually since auto-closed got confused due to "issue" separating "fix" and the number.

[2021-10-04 22:44] #187 closed

[2021-10-04 22:45] CAM-Gerlach commented on #40
Closing manually since auto-closed got confused due to "issue" separating "fix" and the number.

[2021-10-04 22:45] #40 closed

[2021-10-05 05:11] hyamanieu commented on #297
Yes you can work on my branch.

I was just limited on time, I didn't pay much attention to where I was submitting my pr.

I'll try to find some time to do what you said.

Note the dead link I mentioned is in the accompanying text of the modal window opening when you click on "connect to an existing kernel".

Also installing with pip will not break the environment. It works just fine to me. This en

[2021-10-05 07:10] CAM-Gerlach commented on #297
Okay, thanks. I opened a PR on your repo with the tweaks.

No worries, happens to all of us.

If you're short on time, don't worry about the pre-commit hooks or anything else further. Your work is very well done and should be ready to go as-is, at least from my end, as the minor tweaks in the PR I submitted to your branch include fixes for all the pre-commit issues. Unless the others have further

[2021-10-05 13:14] hyamanieu commented on #297
I made the PR with your inputs!
Also I don't know what went wrong when I tried to run `conda install ipython_genutils`, but it now works.

Thanks for the tremendous help and the detailed responses each time :) .
I need to learn Sphinx so I can better help next time.

[2021-10-05 16:36] CAM-Gerlach commented on #297
Thanks so much @hyamanieu , amazing work and we can't wait to merge it. I approved the PR you just submitted and it should be ready to go, pending any last comments from @juanis2112 . When it's ready to merge, I'll squash my commits in.

Huh, dunno. Let us know if you have further problems with it.

Of course, more than happy to—its what we're here for. It was just a few pointers here and taking c

[2021-10-05 22:49] CAM-Gerlach commented on #88
Given its been seven days, I'll go ahead and close this. If there are further plugins that should be documented, we can open separate issues about them.

[2021-10-05 22:49] #88 closed

[2021-10-05 23:32] #297 closed

[2021-10-06 00:09] #250 closed

[2021-10-06 17:13] #201 closed

[2021-10-06 17:13] #251 closed

[2022-01-18 11:35] jitseniesen opened #304 "Edit documentation to alert users to Spyder 5 incompatibility"
@AlastairKelly commented on [Mon Jan 17 2022](https://github.com/spyder-ide/spyder-line-profiler/issues/55)

Hey, after messing around for while with the line profiler install, trying to figure out what I was doing wrong, I ended up here and can see there are a couple open issues on the lack of compatibility with Spyder 5.
Right now, this plug-in still shows up in association with the Spyder 5 doc

[2022-01-19 00:19] CAM-Gerlach commented on #304
Thanks @jitseniesen and @AlastairKelly ! I opened #305 to fix this.

Just FYI, you can now actually transfer issues properly between repos using GitHub's native UI; much slicker than the old ZenHub alternative:

![image](https://user-images.githubusercontent.com/17051931/150039644-88910422-aa26-4681-b728-b2438a27cc3f.png)

[2022-01-20 09:09] jitseniesen commented on #304
Thanks for the heads up. It was not clear to me which button was GitHub's and which was ZenHub's, but I should hopefully remember from now on.

[2022-01-20 20:24] #304 closed

[2022-01-21 16:54] dalthviz opened #306 "Create list of third-party plugins and Spyder version compatibility"
# Issue Report

## Issue Description

Could be useful to have a page where the compatibility for third-party plugins and Spyder versions is tracked (similar to the information for spyder-kernels version vs Spyder version)

### Where is the relevant portion of the documentation located?

Unexisting page

### What would you suggest it be replaced with?

New doc page, maybe under de Spyder plugins se

[2022-01-22 04:23] CAM-Gerlach commented on #306
Do you mean our _first-party_ plugins (Spyder-Notebook, Spyder-Unittest, etc)? If so, this could be included as a table in the Plugins index page, which would also be useful to link to each plugin (even the ones not currently documented) and perhaps briefly summarize its purpose.

[2022-01-24 17:15] dalthviz commented on #306
Thinking about this it could be nice to have a list of external plugins in fact (including does that could be around but we don't maintain directly). However having at least the external plugins we maintain could work too :+1:

[2022-02-09 15:54] tyers opened #307 "Spyder version & spyder-kernels versions"
As per https://github.com/spyder-ide/spyder/issues/17257 opening this ticket against the docs.

The information in the [troubleshooting pages](https://docs.spyder-ide.org/current/troubleshooting/common-illnesses.html#spyder-kernels-not-installed-incompatible) relating to the versions of spyder-kernels is out of date and does not include spyder releases > 5.1.5.

It would also be helpful to include

[2022-02-10 04:51] richlysakowski opened #308 "Spyder 5 FAQs page is out of date for Spyder-Kernels versions, and "installing and updating Spyder""
# Issue Report

## Two issues I found tonight...

The Spyder FAQs page is out of date for Spyder-kernels versions... https://docs.spyder-ide.org/current/faq.html

I am running Spyder 5.1.5 and it complains about the correct version of `spyder-kernels` not being installed.   I have 1.10.2 installed and Spyder 5.1.5 requires 2.2.1.

![image](https://user-images.githubusercontent.com/9345711/15333783

[2022-02-16 02:02] CAM-Gerlach commented on #307
Thanks! Sorry for the delay; was on a trip. It looks like this is a duplicate of #308 , which contains more detail, so I'll merge this with that one. I'll take care of it as soon as I can confirm which versions we should add. Thanks again!

[2022-02-16 02:10] CAM-Gerlach commented on #307
Actually, this refers to the troubleshooting guide, while the other issue talks about the FAQ, so I'll keep them both open and close them both in the same PR.

[2022-02-16 02:24] CAM-Gerlach commented on #308
Thanks! I opened #309 to resolve this

[2022-02-16 02:25] CAM-Gerlach commented on #307
As a quick update, I opened #309 to resolve this (and #308)

[2022-02-17 18:42] #307 closed

[2022-02-17 18:42] #308 closed

[2022-04-25 12:53] jitseniesen opened #313 "conda create command installs Spyder version 4"
# Issue Report

## Issue Description

The installation guide has a `conda create` command which specifies that Spyder version 4 be installed.

### Where is the relevant portion of the documentation located?

The section "New Conda environment" in the installation guide.

### What would you suggest it be replaced with?

I don't know why the Spyder version number was specified, but it should be upda

[2022-04-26 00:06] CAM-Gerlach commented on #313
Good catch, thanks!

[2022-04-26 05:47] #313 closed

[2022-07-28 01:29] hyounes4560 commented on #97
@ccordoba12 @steff456 should we consider adding this to the Editor docs?

[2022-07-28 01:53] hyounes4560 opened #318 "Include creating and activating environment details in the current docs contributing guide"
# Issue Report

## Issue Description
There is a minor issue in the current "Contributing to the Spyder Documentation" file that may waste contributors' time while attempting to build the docs locally. Currently, the docs' contributing guide is missing any instructions on "Creating an environment" and jumping directly to installing dependencies. It only mentions that "dependencies should be install

[2022-07-28 02:27] steff456 commented on #97
Yes! In the outline I already left a short overview for this section just to complement the current editor docs. Just let me know if you need any extra information about code cells 😉

[2022-07-28 02:33] hyounes4560 commented on #97
Sure will do.

[2022-07-28 02:33] CAM-Gerlach commented on #97
Yes, this would be extremely helpful, thanks :+1:

[2022-07-28 03:28] CAM-Gerlach commented on #318
Hey, thanks for the report! I'd thought I'd ported over the updated, standardized version of the Contributing Guide we now use on our website, QtPy, Docrepr and elsewhere which includes this information and much more that is helpful for walking newer and less tech-savvy contributors through every step of the contributing process, but it seems I never had. I've pulled over the updated sections and

[2022-07-28 18:52] hyounes4560 commented on #318
@CAM-Gerlach should I mark this as a Duplicate? Thanks

[2022-07-28 19:17] CAM-Gerlach commented on #318
Oh no, not at all—we didn't already have an issue open about updating the contributing guide, so its helpful that you did. I linked PR #319 as resolving this issue, so when that is merged, the issue will be closed automatically. Thanks!

[2022-08-03 05:15] #318 closed

[2022-09-05 13:06] jitseniesen opened #324 "Docs for spyder-lineprofiler are hidden"
# Issue Report

## Issue Description

The documentation for the `spyder-lineprofiler` plugin are hidden, even though the plugin is now compatible with Spyder 5.

### Where is the relevant portion of the documentation located?

N/A

### What would you suggest it be replaced with?

We can just use the old docs.

### Other information

* Is the problem specific to documentation for a particular versi

[2022-09-14 17:48] CAM-Gerlach commented on #96
@hyounes4560 if you have time, we could work this in to an expanded discussion of the Code/docstring style options in the "Code Style" section of the Editor doc, though I don't think we should block your initial PR on this—it can be added later, and I can take care of it if necessary, since its a more advanced feature.

[2022-09-14 17:51] CAM-Gerlach commented on #107
This could be included to the to-be-added section in the Editor docs about the Find panel, though probably in a later PR since its an advanced feature and not really anything specific to Spyder—we could probably just mention it and link to an existing regex tutorial instead of re-inventing the wheel here.

[2022-09-21 01:20] hyounes4560 opened #326 "Add the Outline pane docs"
# Issue Report

## Issue Description

As pointed out by @CAM-Gerlach, it could be useful to have a separate top-level doc for the Outline pane just like other panes.

### Where is the relevant portion of the documentation located?

Unexisting page

### What would you suggest it be replaced with?

New doc page under the panes folder

### Other information

* Is the problem specific to documentation

[2022-09-22 21:36] jitseniesen opened #328 "Add warning not to import untrusted data in Variable Explorer"
# Issue Report

## Issue Description

Importing untrusted data in the variable explorer is unsafe because it uses pickle which executes arbitrary code. Users should be warned against this.

### Where is the relevant portion of the documentation located?

Second line of https://github.com/spyder-ide/spyder-docs/blob/master/doc/panes/variableexplorer.rst#toolbar-buttons

### What would you suggest i

[2022-09-22 21:37] jitseniesen opened #329 "Add documentation for the unittest plugin"
# Issue Report

## Issue Description

There are no docs for the unittest plugin.

### Where is the relevant portion of the documentation located?

Nowhere, that's the problem, d'oh!  :smile:

### What would you suggest it be replaced with?

Documentation.

### Other information

* Is the problem specific to documentation for a particular version of Spyder?

    * [ ] N/A
    * [x] Spyder 5 (``mast

[2022-09-22 21:56] #324 closed

[2022-09-22 23:15] CAM-Gerlach commented on #328
Thanks for documenting this; I've opened #330 to add it.

[2022-09-26 02:49] #328 closed

[2022-10-02 16:31] #326 closed

[2022-10-07 16:06] hyounes4560 commented on #107
@CAM-Gerlach Could you please add more info about this?

[2022-10-12 06:42] CAM-Gerlach commented on #96
Sure. Basically, we want to describe how the `Show` and `Ignore` fields work in the Code Style and Docstyle tabs under the Completion and Linting Preferences pane, i.e. as Daniel describes in his comment I linked above: https://github.com/spyder-ide/spyder/pull/9231#issuecomment-487449158 However, upon closer inspection, this is fairly minor and can be added later, either by you, me or somewhere e

[2022-10-12 06:42] CAM-Gerlach commented on #107
Sorry for the confusion. I don't think we need a whole FAQ as the initial issue proposed; just a simple link to a regex resource, e.g. the Python `re` docs ([like we do for the `Find` pane](https://docs.spyder-ide.org/current/panes/findinfiles.html#choosing-search-options)), will suffice where you already mention this option, IMO. The Find pane docs discusses the Find pane, while the find and repl

[2022-10-12 06:43] CAM-Gerlach opened #333 "Describe and clarify caveats with the Editor's "Run file" executing in an empty namespace"
# Issue Report

## Issue Description

Adapted from my comment originally made in a Google Doc with @steff456 and @hyounes4560 that resulted in #331

This one's a little tricky for us to explain, but also rather important to explain well to users, e.g. as an `important` admonition.

Specifically, it refers to the default behavior (i.e. if `Run in console's namespace instead of an empty one` is chec

[2022-10-22 04:10] CAM-Gerlach commented on #334
Thanks for the great detailed feedback and suggestions, everyone—they were very helpful us revise our docs to make sure we cover all the bases.

In PR #335, I've expanded, updated and rewritten most of the Installation Guide guidance surrounding standalone installers and Anaconda/Miniconda, to address this feedback and reflect the current situation more accurately, as well as make other smaller re

[2022-10-22 21:21] CAM-Gerlach commented on #334
FYI, I've opened spyder-ide/website-spyder#210 to update the language of the Download section on the Spyder website to reflect these concerns, and further revised the other Install Guide sections in the aforementioned PR to ensure they are more helpful, complete and up to date.

[2022-10-24 05:15] benkinooby commented on #334
Thanks @CAM-Gerlach for the quick reaction and fixes in https://github.com/spyder-ide/spyder-docs/pull/335 and https://github.com/spyder-ide/website-spyder/pull/210

For what it is worth: I had a quick look at the diffs and the changes certainly look like an improvement to me! They expand on the trade-offs between the different installation methods and make clear that Spyder comes with its own pyt

[2022-10-24 06:43] CAM-Gerlach commented on #334
Thanks for your kind feedback @benkinooby ! I'm glad it seems helpful to you!

[2022-11-06 05:50] katxeus opened #337 "no theme named 'pandas_sphinx_theme' found (missing theme.conf?)"
Would please like to get some clarity on how or from where I can install the pandas_sphinx_theme specified in the conf.py. I tried
 `pip install pandas-sphinx-theme `
But all i could get was the error
`no theme named 'pandas_sphinx_theme' found (missing theme.conf?)`

[2022-11-06 09:38] CAM-Gerlach commented on #337
Hey, did you follow the [instructions in the Contributing Guide](https://github.com/spyder-ide/spyder-docs/blob/master/CONTRIBUTING.md#setting-up-a-development-environment)? Following that will install all the required dependencies, including our heavily modified fork of the theme.

[2022-11-06 14:42] katxeus commented on #337
Great thanks, I had missed it entirely.

[2022-11-06 22:14] CAM-Gerlach commented on #337
Great, seems like this is resolved then :+1:

[2022-11-06 22:14] #337 closed

[2022-11-14 00:51] #334 closed

[2022-11-15 07:09] #97 closed

[2022-11-15 07:09] #107 closed